* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section {
    border: 3px solid rgb(255, 153, 0);
    height: 100vh;
    
}


.border {
    border: 3px solid rgb(255, 153, 0);
    width: 40%;
    
}

.border2 {
    border: 3px solid rgb(181, 29, 120);

    width: 60%;
}
